@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bubblegum+Sans&display=swap');

html, body {
  height: 100%;
}

.game-container {
    background-color: #9FC5F8;
    height: 90%;
    padding: 10px;
}

.game-header {
    text-align: center;
    padding: 10px;
}

.game-header span {
    background-color: #FFFF00;
    border: solid 2px black;
}

.fun-facts {
    font-size: 1.1rem;
    background-color: #fff;
}

.game-rules {
    font-size: 1.1rem;
    background-color: #fff;
}

.game-play-area {
    background-color: white;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape-display-box {
    height: 200px;
    width: 200px;
    border: solid 2px black;
    background-color: #e01f01;
}

.start-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-shapes {
    margin-top: 20px;
}

/*-------------------------------------------- Shapes made on generator tool found here: https://coveloping.com/tools/css-shapes-generator */

*, *:before, *:after{ 
    box-sizing: border-box;

} 
.css-shapes-square{ 
    height: 150px; 
    width: 150px; 
    background-color: #454372; 
    margin: auto;
}

.css-shapes-triangle{ 
    height: 150px; 
    width: 150px; 
    border-left: 100px solid transparent; 
    border-right: 100px solid transparent; 
    border-bottom: 150px solid #4D8B31; 
    margin: auto;
}

.css-shapes-circle{ 
    position: relative; 
    height: 150px; 
    width: 150px; 
    background-color: #FFC800; 
    border-radius: 150px; 
    margin: auto;
}

.css-shapes-trapezoid{ 
    position: relative; 
    height: 150px; 
    width: 220px; 
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
    border-bottom: 140px solid #FF8427; 
    margin: auto;
}

.css-shapes-bookmark{ 
    position: relative; 
    height: 135px; 
    width: 0px; 
    top: 12px; 
    left: 50px;
    border-left: 100px solid #EA2B1F; 
    border-right: 100px solid #EA2B1F; 
    border-bottom: 40px solid transparent; 
}

.shape {
    transform: scale(1);
}

.shape:active {
    transform: scale(.9);
}

.game-footer {
    text-align: center;
    background-color: #F8D2A0;
    height: 10vh;
}